<div class="center">
  <h1>About</h1>
</div>
<p>The  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> is a book and screencast series to teach series web development with  <a href="https://rubyonrails.org/">Ruby on Rails</a>. This is the sample application for the tutorial</p>
