<div class="wrapper">
  <form class="form-signin" action="/" method="POST"  >
    <%= render 'shared/error_messages' %>
    <h1 class="form-signin-heading">Sign in</h1>
    <input type="text" class="form-control" style="margin-bottom:25px;" name="login[email]" placeholder="Email Address" required="" autofocus=""/>
    <input type="password" class="form-control" name="login[password]" placeholder="Password" required=""/>
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>